<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>행렬 계산기</title>
    <meta name="description" content="행렬 계산기를 통해 역행렬, 행렬식, 행렬곱을 구해보세요"/>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XK9NHJW4W9"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'G-XK9NHJW4W9');
    </script>
    <link rel="stylesheet" href="/static/matrix/css/index.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="icon" type="image/png" href="/static/matrix/image/favicon.png">  
</head>
  <body>
    <div class="head">
      <a href="/ko"><img class="logo" src="/static/matrix/image/calculator-logo.png"/></a>  
      <select class="lang" onchange="window.location.href=this.value">
        <option value="ko" selected>한국어</option>
        <option value="en">English</option>
        <option value="ja">日本語</option>
        <option value="ch">简体中文</option>
        <option value="sp">Español</option>
      </select>  
      </div>
    <ins id="first" class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-xQjLxyaJavjV4drW" 
 data-ad-width   = "320" 
 data-ad-height  = "50"></ins> 
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

<div class="card first-card">
  <div class="card-header">
    첫 번째 계산기
  </div>
  <div class="card-body">
    <h5 class="card-title">역행렬 계산기</h5>
    <p class="card-text">역행렬과 행렬식을 구할 수 있습니다</p>
    <a href="/ko/inverse" class=""><button class="button">바로 계산해보기!</button></a>
  </div>
</div>
<div class="card">
  <div class="card-header">
    두 번째 계산기
  </div>
  <div class="card-body">
    <h5 class="card-title">행렬곱 계산기</h5>
    <p class="card-text">준비중입니다...</p>
    <a href="#" class=""><button class="button">바로 계산해보기!</button></a>
  </div>
</div>
    <ins id="last" class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-xQjLxyaJavjV4drW" 
 data-ad-width   = "320" 
 data-ad-height  = "50"></ins>
 <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script> 
<script src="/static/matrix/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>