<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>inverse matrix calculator</title>
    <link rel="stylesheet" href="/static/matrix/css/index.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>
  </head>
  <body>
    <ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-xQjLxyaJavjV4drW" 
 data-ad-width   = "320" 
 data-ad-height  = "50"></ins> 
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    <script src="/static/matrix/js/index.js"></script>
    <h1>역행렬 계산기</h1>
    <div id="size">
    <h2>행의 길이를 설정해주세요</h2>
    <input type="text" id="inputNumber" onkeyup="makeMatrix()" value="3">
    </div>
    <div id="matrix">
        <div id="matrix-1">
            <div class="matrixClass">
                <input id="0-0">
                <input id="0-1">
                <input id="0-2">
            </div>
            <div class="matrixClass">
                <input id="1-0">
                <input id="1-1">
                <input id="1-2">
            </div>
            <div class="matrixClass">
                <input id="2-0">
                <input id="2-1">
                <input id="2-2">
            </div>
        </div>
    </div>
    <div id="det">
    <button onclick="det(); inverse();" id="detButton">역행렬 구하기</button>
    </div>
    <div>
      <p id="detValue">행렬식 :</p>
      <p id="inverse">역행렬 :</p>
    </div>
  </body>
</html>