<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Калькулятор обратной матрицы - The Classic</title>
    <meta name="description" content="Используйте калькулятор обратной матрицы, чтобы легко и быстро найти обратные матрицы 3x3, 4x4, nxn."/>
    <meta name="naver-site-verification" content="52fe109286f2d60b23748acdb5472ded63aee2e0" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4429063872373744"
     crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XK9NHJW4W9"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'G-XK9NHJW4W9');
    </script>
    <link rel="stylesheet" href="/static/matrix/css/inverse.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1 minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" href="/static/matrix/image/favicon.png">  
</head>
  <body>
    <div class="head">
      <a href="/ru"><img class="logo" src="/static/matrix/image/calculator-logo.png"/></a>
      <select class="lang" onchange="window.location.href=this.value">
        <option value="/ko/inverse">한국어</option>
        <option value="/en/inverse">English</option>
        <option value="/ja/inverse">日本語</option>
        <option value="/ch/inverse">简体中文</option>
        <option value="/sp/inverse">Español</option>
        <option value="/vi/inverse">Tiếng Việt</option>
        <option value="/po/inverse">Português</option>
        <option value="/in/inverse">Indonesia</option>
        <option value="/ru/inverse" selected>Русский</option>
      </select>      
    </div>
    <div id="title-lang">
    <h1>Калькулятор обратной матрицы</h1>
    <a href="/ru/deter"><i class="arrow right"></i></a>
    </div>
    <div id="size">
    <h2>Размер матрицы</h2>
    <input type="text" id="inputNumber" onkeyup="makeMatrix()" value="3">
    </div>
    <div>
      <p id="example"></p>
    </div>  
    <div id="matrix">
        <div id="matrix-1" onkeydown="Arrow()">
            <div class="matrixClass">
                <input id="0-0">
                <input id="0-1">
                <input id="0-2">
            </div>
            <div class="matrixClass">
                <input id="1-0">
                <input id="1-1">
                <input id="1-2">
            </div>
            <div class="matrixClass">
                <input id="2-0">
                <input id="2-1">
                <input id="2-2">
            </div>
        </div>
    </div>
    <div id="det">
    <button onclick="inverse();" id="detButton">Рассчитать</button>
    </div>
    <div id="result">
      {% comment %} <p id="detValue">определитель : </p> {% endcomment %}
      <p id="inverse">Результат : </p>
    </div>
<script src="/static/matrix/js/inverse.js"></script>
  </body>
</html>