<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>역행렬 계산기 - The Classic</title>
    <meta name="description" content="역행렬 계산기를 사용하여 3x3, 4x4, nxn의 역행렬 쉽고 빠르게 찾기."/>
    <meta name="naver-site-verification" content="52fe109286f2d60b23748acdb5472ded63aee2e0" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4429063872373744"
     crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XK9NHJW4W9"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'G-XK9NHJW4W9');
    </script>
    <link rel="stylesheet" href="/static/matrix/css/inverse.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1 minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" href="/static/matrix/image/favicon.png">  
</head>
  <body>
    <div class="head">
      <a href="/ko"><img class="logo" src="/static/matrix/image/calculator-logo.png"/></a>    
      <select class="lang" onchange="window.location.href=this.value">
        <option value="/ko/inverse" selected>한국어</option>
        <option value="/en/inverse">English</option>
        <option value="/ja/inverse">日本語</option>
        <option value="/ch/inverse">简体中文</option>
        <option value="/sp/inverse">Español</option>
        <option value="/vi/inverse">Tiếng Việt</option>
        <option value="/po/inverse">Português</option>
        <option value="/in/inverse">Indonesia</option>
        <option value="/ru/inverse">Русский</option>
      </select>  
    </div>
    <div class="menus">
      <a href="/ko/inverse"><button class="menu-button">역행렬 계산기</button></a>
      <a href="/ko/deter"><button class="menu-button">행렬식 계산기</button></a>
      <a href="/ko/prime"><button class="menu-button">소수 계산기/판별기</button></a>
      <a href="/ko/factor"><button class="menu-button">소인수분해 계산기</button></a>
    </div>
    <div id="ad-top">
      <ins class="kakao_ad_area" style="display:none;"
  data-ad-unit = "DAN-LXeZEamTJ26OJbhB"
  data-ad-width = "320"
  data-ad-height = "50"></ins>
  <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
      </div>
    <div>
    <h1>역행렬 계산기</h1>
    </div>
    <div>
      <ins class="kakao_ad_area" style="display:none;"
data-ad-unit = "DAN-v6JhgoFHPDHMcLWl"
data-ad-width = "320"
data-ad-height = "50"></ins>
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
    <div id="size">
    <h2>행의 길이를 설정해주세요</h2>
    <input type="text" id="inputNumber" onkeyup="makeMatrix()" value="3">
    </div>
    <div class="ex-box">
      <p id="example"></p>
    </div>
    <div id="matrix">
        <div id="matrix-1" onkeydown="Arrow()">
            <div class="matrixClass">
                <input id="0-0">
                <input id="0-1">
                <input id="0-2">
            </div>
            <div class="matrixClass">
                <input id="1-0">
                <input id="1-1">
                <input id="1-2">
            </div>
            <div class="matrixClass">
                <input id="2-0">
                <input id="2-1">
                <input id="2-2">
            </div>
        </div>
    </div>
    <div id="det">
    <button onclick="inverse();" id="detButton">역행렬 구하기</button>
    </div>
    <div id="result">
      {% comment %} <p id="detValue">행렬식 : </p> {% endcomment %}
      <p id="inverse">역행렬 : </p>
    </div>
    <div class="explain" id="inverse-exp">
      역행렬은 정사각 행렬에 대해서만 정의되며 원래 행렬과의 곱이 곱의 순서와 관계없이 항등행렬이 되도록 하는 행렬로 정의합니다. <br>
      역행렬은 유일하다는 사실이 잘 알려져 있고, 역행렬을 구하는 방식은 크게 2가지 정도 있습니다. 첫 번째는, cofactor라는 것을 정의하여 cramer's rule에 의거하여 구하는 방법이 있습니다.
      두 번째는, gauss-jordan 소거법을 활용하는 방법이 있습니다. <br>
      현재 우리의 계산기는 두 번째 방법에 의거하여 만들어졌으며 첫 번째 방법에 비해 연산 수를 획기적으로 줄일 수 있는 점이 장점입니다.
    </div>
<script src="/static/matrix/js/inverse.js"></script>
  </body>
</html>