#title-lang{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top:150px;
}

#lang{
    margin-top:5px;
    cursor:pointer;
}
.matrixClass input {
    width:40px;
    height:40px;
    text-align: center;
}

#matrix{
    width:auto;
    height:auto;
}

.matrixClass{
    display:flex;

}

.matrix-1{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

#size{
    display: flex;
    align-items: center;
}

#size h2{
    font-size:18px;
}

#inputNumber{
    height: 25px;
    width: 25px;
    margin-left:10px;
    text-align: center;
}

body{
    height:110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

#det button{
    margin-top:10px;
    color: white;
    border-color: #000000;
    background-color: #000000;
    /* border-color:white; */
    cursor: pointer;    
    /* background-color: transparent;  */
    border: 1px solid;
    line-height: 1.5;
    border-radius: 3px;
    /* padding: 5.625px 11.25px; */
    font-size: 12px;
    font-weight: 500;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; 
}

#det button:hover{
    /* color:white;
    background-color: #000000;
    border-color:white; */
    color: black;
    border-color: white;
    background-color: white;
}
#det{
    z-index:2;
}

body h1{
    margin:0px;
    font-size:30px;
}

#first{
    position: absolute;
    top:70.3px;
    left:0%;
}
#second{
    /* position: absolute;
    top:120.3px;
    left:0%; */
    position:relative;
    top:-30px;
}
#third{
    position: absolute;
    top:170.3px;
    left:0%;
}

.head{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
}

.logo{
    width: 300px;
    height:30.3px;
    margin: 20px;
}
.lang{
    margin: 20px;
    cursor:pointer;
    padding:3px;
    height:30px;
    width:100px;
}
#example{
    margin:0;
    margin-bottom:5px;
    font-size:15px;
}

@media screen and (max-width:575px) {
body{
    height:95vh;
}
#title-lang{
    padding-top:75px;
}
#last{
    position: absolute;
    top:95vh;
    left:0%; 
    margin:0;
    padding:0;
}
body h1{
    font-size:22px;
}    
#size h2{
        font-size:15px;
    }
#inputNumber{
    height: 20px;
    width: 20px;
    margin-left:7.5px;
    text-align: center;
}    
.matrixClass input {
    width:30px;
    height:30px;
    text-align: center;
}
#det button{
    margin-top:7.5px;
}
#inverse{
    overflow-x: auto;
    overflow-y: hidden;
}
#result{
    overflow-x: auto;
    overflow-y: hidden;
    max-width:100%;
}
.logo{
    width: 150px;
    height:15.15px;
    margin:10px;
}
.head a{
    height:35.15px;
}
#example{
    font-size:12px;
    margin:0;
    margin-bottom:5px;
}
}

@media screen and (max-height:575px) {
    
    body{
        height:800px;
    }
    #last{
        position: absolute;
        top:800px;
        left:0%; 
        margin:0;
        padding:0;
    } 
}

