#title-lang{
padding-top:150px;
display:flex;
    flex-direction:row;
    justify-content: center;
align-items: center;
}

#title-lang-prime{
    padding-top:150px;
    display:flex;
    flex-direction:row;
    justify-content: center;
align-items: center;
}

#lang{
    margin-top:5px;
    cursor:pointer;
}
.matrixClass input {
    width:40px;
    height:40px;
    text-align: center;
}

#matrix{
    width:auto;
    height:auto;
}

.matrixClass{
    display:flex;

}

#size{
    display: flex;
    align-items: center;
}

#size h2{
    font-size:18px;
}

#inputNumber{
    height: 25px;
    width: 25px;
    margin-left:10px;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

#detButton{
    margin-top:0px;
    color: black;
    border-color: white;
    background-color: white;
    /* border-color:white; */
    cursor: pointer;    
    background-color: transparent; 
    border: 1px solid;
    line-height: 1.5;
    border-radius: 3px;
    /* padding: 5.625px 11.25px; */
    /* font-size: 12px; */
    font-weight: 500;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#detButton:hover{
    color:white;
    background-color: #000000;
    border-color:white;
}
#det{
    z-index:2;
    margin-top:10px;
}

body h1{
    margin:0px;
    font-size:30px;
}

#first{
    position: absolute;
    top:70.3px;
    left:0%;
}
#second{
    /* position: absolute;
    top:120.3px;
    left:0%; */
    /* position:relative;
    top:-30px; */
}
#third{
    position: absolute;
    top:170.3px;
    left:0%;
}

.head{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
}

.logo{
    width: 300px;
    height:30.3px;
    margin: 20px;
}
.lang{
    margin: 20px;
    cursor:pointer;
    padding:3px;
    height:30px;
    width:100px;
}
.example{
    margin:0;
    margin-bottom:50px;
    font-size:15px;
}

@media screen and (max-width:575px) {

#title-lang{
    padding-top:150px;
}

body h1{
    font-size:22px;
}    
#size h2{
        font-size:15px;
    }
#inputNumber{
    height: 20px;
    width: 20px;
    margin-left:7.5px;
    text-align: center;
}    
.matrixClass input {
    width:30px;
    height:30px;
    text-align: center;
}
#inverse{
    overflow-x: auto;
    overflow-y: hidden;
}
#result{
    overflow-x: auto;
    overflow-y: hidden;
    max-width:100%;
}
.logo{
    width: 150px;
    height:15.15px;
    margin:10px;
}
.head a{
    height:35.15px;
}
#example{
    font-size:12px;
    margin-block-start:0!important;
    margin-block-end: 0!important;
}

}
.kakao_ad_area{
    margin:0;
    padding-top:5px;
}
#inputPrime, #inputFactor{
    width:300px;
    height:20px;
}

.button{
    display: flex;
    justify-content: center;
}

.explain{
    width : 500px;
    height: 170px;
    border: 1px solid black;
    padding:5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom:50px;
    }

#inverse-exp{
    height:190px;    
    }    
.detButton{
    font-size:13.5px;
    margin-left: 5px;
}

@media screen and (max-height:575px) {
    
    /* #last{
        position: absolute;
        top:800px;
        left:0%; 
        margin:0;
        padding:0;
    }  */
    .explain{
        font-size: 5px;
    }
}

@media screen and (max-width:575px){
    .explain{
        width:350px;
        height:119px;
        padding:3.5px;
        box-shadow: 0 7px 14px rgba(0,0,0,0.19), 0 4.2px 4.2px rgba(0,0,0,0.23);
        font-size:11px;
    }
    #inputPrime, #inputFactor{
        width:210px;
    }

    #inverse-exp{
        height:135px;
    }
}

#factorResult span{
    margin:0;
    font-size:16px;
}

.menu-button{
    color: #007bff;
    border-color: #007bff;
    cursor: pointer;    
    background-color: transparent;
    border: 1px solid;
    line-height: 1.5;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.menu-button:hover{
    color:white;
    background-color: #007bff;
    border-color:white;
}

.menus{
    position:absolute;
    top:10%;
    left:50%;
    transform: translate(-50%, 0%);
}

@media screen and (max-width:575px){
    .menu-button{
        color: #007bff;
        border-color: #007bff;
        cursor: pointer;    
        background-color: transparent;
        border: 0.7px solid;
        line-height: 1.05;
        border-radius: 0.175rem;
        padding: 0.2625rem 0.525rem;
        font-size: 0.7rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    .menu-button:hover{
        color:white;
        background-color: #007bff;
        border-color:white;
    }
    .menus{
        position:absolute;
        top:10%;
        width:100%; 
    }
}

.ad{
    width:320px;
    height:50px;
}

.ex-box p{
    margin:0;
    padding:0;
    padding-bottom:5px;
}
